:host {
    display: block;
    overflow: hidden;
}
.body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    /* padding: 20px; */
    position: relative;
    max-height: 100vh;
    overflow-y: hidden;
    padding-left: 70px;
    padding-right: 70px;
}
.summary-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
}

.summary-box {
    background-color: #FFF;
    border: 1.5px solid lightgray;
    padding: 10px; /* Reduced padding */
    width: calc(17% - 17px); /* Adjust for margin */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 75px;
    text-align: left;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Move items to the top */
}

.summary-box h2 {
    margin: 5px 0; /* Reduced margin */
    color: #333;
    font-size: 25px;
}

.summary-box p {
    margin: 0; /* Removed the margin */
    color: #888;
    font-size: 12px;
}

.search-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    padding-left: 20px;
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
    margin-bottom: 2px;
    border-radius: 0px, 0px, 4px, 4px;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
table td{
    height: 30px;
    border: 1.5px solid #ddd;
}
table th {
    background-color:  #fff7cc;
    border-radius: 4px, 4px, 0px, 0px;
}
table tr:hover {
    background-color: #f1f1f1;
}
table a{
    color: #1365C9;
}
.pagination lightning-icon {
    display: inline-block;
    cursor: pointer;
}

.pagination.lightning-icon[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.icon-only {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}
td:first-child, th:first-child {
    border-left: none;
}

td:last-child, th:last-child {
    border-right: none;
}